@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

@btn-color: #e93a7d;
@btn-hovered-color: #d71862;
@btn-border-color: #ebeaed;

@text-color: #fff;
@additional-text-color: #1e0e62;
@light-text-color: #1514399d;
@nav-text-color: #1b1b1c;

@bg-color: @text-color;
@bg-second-color: #222228;
@bg-image-color: #2f1893;
@bg-cards-color: #34343d;

@toggle-color-active: #25dac5;
@toggle-color-disabled: #ababab;

@modal-light-color: #ffffff80;

* {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1400px;
  min-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.flexed (@jc, @ai) {
  display: flex;
  justify-content: @jc;
  align-items: @ai;
}
